#progress-outer { background: #333;
    -webkit-border-radius: 13px;
    height: 12px;
    width: 70px;
}
#progress-inner {
    background: rgb(51, 153, 204);
      height: 100%;
    -webkit-border-radius: 9px;
}

.cl{ color: rgb(51, 153, 204); white-space: nowrap; overflow:hidden; display: inline-block; }

img.book {
    height: 150px;
    padding: 15px 15px 15px 0px;
    max-width: 100px;
}
img.book_p {
    height: 250px;
    padding: 15px 15px 15px 0px;
    max-width: 250px;
}
.rating{
    width: 150px;
}
.rating2{
    width: 200px;
}
h2.entry-title{
    color: black;
    text-decoration: none;
    font-family: "Rokkitt", serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
nav#pagination span.next a, nav#pagination span.prev a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid;
}
nav a, nav a:visited {
    color: #080808;
    text-decoration: none;
    outline: 0;
}
nav#pagination span.next {
    display: block;
    float: right;
}
nav#pagination span.prev {
    display: block;
    float: left;
}

/* begin - books progress*/
.book1 {width: 25%; }    /*Possible world 44 pages out of  200 */
.book3 {width: 0%; }    /* other  */
.book4 {width: 27%; }    /* Kafka : The Definite Guide  has 11 chapters */
.book5 {width: 10%; }    /* technical analysis */
.book6 {width: 22.67%; }  /* Glimpse of the world  page : 256 / 1129 */
.book7 {width: 30%; }  /* fooled by randomness */
.tbd {width: 0%; }  /* TBD */
/* end -  book progress*/
