footer { display: block; width:100%; background:white;}
.footer {
bottom: 0;
left: 0;
float: left;
clear: both;
margin: 0;
padding: 0;
width: 100%;}

.footer hr{
border: 0;
height: 0;
border-top: 1px solid rgba(0,0,0,0.1);
border-bottom: 1px solid rgba(255,255,255,0.3);
}

.footer p{
padding-left: 400px;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

