/** animation 
Courtesy: https://codepen.io/brandonmcconnell/pen/bZqGdw
**/

@keyframes typed {
	/* string #{
		$i
	}
	, char #{
		$j
	}
	 */
	/* string #{
		$i
	}
	, char #{
		$j
	}
	 */
	/* string #{
		$i
	}
	, char #{
		$j
	}
	 */
	/* string #{
		$i
	}
	, char #{
		$j
	}
	 */
	 0%, 0.349140056% {
		 content: "G";
	}
	 0.350140056%, 0.699280112% {
		 content: "Gr";
	}
	 0.700280112%, 1.0494201681% {
		 content: "Gre";
	}
	 1.0504201681%, 1.3995602241% {
		 content: "Gree";
	}
	 1.4005602241%, 1.7497002801% {
		 content: "Greet";
	}
	 1.7507002801%, 2.0998403361% {
		 content: "Greeti";
	}
	 2.1008403361%, 2.4499803922% {
		 content: "Greetin";
	}
	 2.4509803922%, 2.8001204482% {
		 content: "Greeting";
	}
	 2.8011204482%, 3.1502605042% {
		 content: "Greeting ";
	}
	 3.1512605042%, 3.5004005602% {
		 content: "Greeting S";
	}
	 3.5014005602%, 3.8505406162% {
		 content: "Greeting St";
	}
	 3.8515406162%, 4.2006806723% {
		 content: "Greeting Str";
	}
	 4.2016806723%, 4.5508207283% {
		 content: "Greeting Stra";
	}
	 4.5518207283%, 4.9009607843% {
		 content: "Greeting Stran";
	}
	 4.9019607843%, 5.2511008403% {
		 content: "Greeting Strang";
	}
	 5.2521008403%, 5.6012408964% {
		 content: "Greeting Strange";
	}
	 5.6022408964%, 5.9513809524% {
		 content: "Greeting Stranger";
	}
	 5.9523809524%, 6.3015210084% {
		 content: "Greeting Stranger.";
	}
	 6.3025210084%, 6.6516610644% {
		 content: "Greeting Stranger..";
	}
	 6.6526610644%, 14.2847142857% {
		 content: "Greeting Stranger...";
	}
	 14.2857142857%, 14.5648263305% {
		 content: "Greeting Stranger..";
	}
	 14.5658263305%, 14.8449383754% {
		 content: "Greeting Stranger.";
	}
	 14.8459383754%, 15.1250504202% {
		 content: "Greeting Stranger";
	}
	 15.1260504202%, 15.405162465% {
		 content: "Greeting Strange";
	}
	 15.406162465%, 15.6852745098% {
		 content: "Greeting Strang";
	}
	 15.6862745098%, 15.9653865546% {
		 content: "Greeting Stran";
	}
	 15.9663865546%, 16.2454985994% {
		 content: "Greeting Stra";
	}
	 16.2464985994%, 16.5256106443% {
		 content: "Greeting Str";
	}
	 16.5266106443%, 16.8057226891% {
		 content: "Greeting St";
	}
	 16.8067226891%, 17.0858347339% {
		 content: "Greeting S";
	}
	 17.0868347339%, 17.3659467787% {
		 content: "Greeting ";
	}
	 17.3669467787%, 17.6460588235% {
		 content: "Greeting";
	}
	 17.6470588235%, 17.9261708683% {
		 content: "Greetin";
	}
	 17.9271708683%, 18.2062829132% {
		 content: "Greeti";
	}
	 18.2072829132%, 18.486394958% {
		 content: "Greet";
	}
	 18.487394958%, 18.7665070028% {
		 content: "Gree";
	}
	 18.7675070028%, 19.0466190476% {
		 content: "Gre";
	}
	 19.0476190476%, 19.3267310924% {
		 content: "Gr";
	}
	 19.3277310924%, 19.6068431373% {
		 content: "G";
	}
	 19.6078431373%, 23.1082436975% {
		 content: "​";
	}
	 23.1092436975%, 23.4583837535% {
		 content: "W";
	}
	 23.4593837535%, 23.8085238095% {
		 content: "We";
	}
	 23.8095238095%, 24.1586638655% {
		 content: "Wel";
	}
	 24.1596638655%, 24.5088039216% {
		 content: "Welc";
	}
	 24.5098039216%, 24.8589439776% {
		 content: "Welco";
	}
	 24.8599439776%, 25.2090840336% {
		 content: "Welcom";
	}
	 25.2100840336%, 25.5592240896% {
		 content: "Welcome";
	}
	 25.5602240896%, 25.9093641457% {
		 content: "Welcome ";
	}
	 25.9103641457%, 26.2595042017% {
		 content: "Welcome t";
	}
	 26.2605042017%, 26.6096442577% {
		 content: "Welcome to";
	}
	 26.6106442577%, 26.9597843137% {
		 content: "Welcome to ";
	}
	 26.9607843137%, 27.3099243697% {
		 content: "Welcome to m";
	}
	 27.3109243697%, 27.6600644258% {
		 content: "Welcome to my";
	}
	 27.6610644258%, 28.0102044818% {
		 content: "Welcome to my ";
	}
	 28.0112044818%, 28.3603445378% {
		 content: "Welcome to my d";
	}
	 28.3613445378%, 28.7104845938% {
		 content: "Welcome to my di";
	}
	 28.7114845938%, 29.0606246499% {
		 content: "Welcome to my dig";
	}
	 29.0616246499%, 29.4107647059% {
		 content: "Welcome to my digi";
	}
	 29.4117647059%, 29.7609047619% {
		 content: "Welcome to my digit";
	}
	 29.7619047619%, 30.1110448179% {
		 content: "Welcome to my digita";
	}
	 30.1120448179%, 30.4611848739% {
		 content: "Welcome to my digital";
	}
	 30.4621848739%, 30.81132493% {
		 content: "Welcome to my digital ";
	}
	 30.81232493%, 31.161464986% {
		 content: "Welcome to my digital n";
	}
	 31.162464986%, 31.511605042% {
		 content: "Welcome to my digital ne";
	}
	 31.512605042%, 31.861745098% {
		 content: "Welcome to my digital nes";
	}
	 31.862745098%, 32.2118851541% {
		 content: "Welcome to my digital nest";
	}
	 32.2128851541%, 39.8449383754% {
		 content: "Welcome to my digital nest.";
	}
	 39.8459383754%, 40.1250504202% {
		 content: "Welcome to my digital nest";
	}
	 40.1260504202%, 40.405162465% {
		 content: "Welcome to my digital nes";
	}
	 40.406162465%, 40.6852745098% {
		 content: "Welcome to my digital ne";
	}
	 40.6862745098%, 40.9653865546% {
		 content: "Welcome to my digital n";
	}
	 40.9663865546%, 41.2454985994% {
		 content: "Welcome to my digital ";
	}
	 41.2464985994%, 41.5256106443% {
		 content: "Welcome to my digital";
	}
	 41.5266106443%, 41.8057226891% {
		 content: "Welcome to my digita";
	}
	 41.8067226891%, 42.0858347339% {
		 content: "Welcome to my digit";
	}
	 42.0868347339%, 42.3659467787% {
		 content: "Welcome to my digi";
	}
	 42.3669467787%, 42.6460588235% {
		 content: "Welcome to my dig";
	}
	 42.6470588235%, 42.9261708683% {
		 content: "Welcome to my di";
	}
	 42.9271708683%, 43.2062829132% {
		 content: "Welcome to my d";
	}
	 43.2072829132%, 43.486394958% {
		 content: "Welcome to my ";
	}
	 43.487394958%, 43.7665070028% {
		 content: "Welcome to my";
	}
	 43.7675070028%, 44.0466190476% {
		 content: "Welcome to m";
	}
	 44.0476190476%, 44.3267310924% {
		 content: "Welcome to ";
	}
	 44.3277310924%, 44.6068431373% {
		 content: "Welcome to";
	}
	 44.6078431373%, 44.8869551821% {
		 content: "Welcome t";
	}
	 44.8879551821%, 45.1670672269% {
		 content: "Welcome ";
	}
	 45.1680672269%, 45.4471792717% {
		 content: "Welcome";
	}
	 45.4481792717%, 45.7272913165% {
		 content: "Welcom";
	}
	 45.7282913165%, 46.0074033613% {
		 content: "Welco";
	}
	 46.0084033613%, 46.2875154062% {
		 content: "Welc";
	}
	 46.2885154062%, 46.567627451% {
		 content: "Wel";
	}
	 46.568627451%, 46.8477394958% {
		 content: "We";
	}
	 46.8487394958%, 47.1278515406% {
		 content: "W";
	}
	 47.1288515406%, 50.6292521008% {
		 content: "​";
	}
	 50.6302521008%, 50.9793921569% {
		 content: "B";
	}
	 50.9803921569%, 51.3295322129% {
		 content: "Be";
	}
	 51.3305322129%, 51.6796722689% {
		 content: "Bew";
	}
	 51.6806722689%, 52.0298123249% {
		 content: "Bewa";
	}
	 52.0308123249%, 52.379952381% {
		 content: "Bewar";
	}
	 52.380952381%, 52.730092437% {
		 content: "Beware";
	}
	 52.731092437%, 53.080232493% {
		 content: "Beware ";
	}
	 53.081232493%, 53.430372549% {
		 content: "Beware o";
	}
	 53.431372549%, 53.780512605% {
		 content: "Beware of";
	}
	 53.781512605%, 54.1306526611% {
		 content: "Beware of ";
	}
	 54.1316526611%, 54.4807927171% {
		 content: "Beware of r";
	}
	 54.4817927171%, 54.8309327731% {
		 content: "Beware of ra";
	}
	 54.8319327731%, 55.1810728291% {
		 content: "Beware of ran";
	}
	 55.1820728291%, 55.5312128852% {
		 content: "Beware of rand";
	}
	 55.5322128852%, 55.8813529412% {
		 content: "Beware of rando";
	}
	 55.8823529412%, 56.2314929972% {
		 content: "Beware of random";
	}
	 56.2324929972%, 56.5816330532% {
		 content: "Beware of randomw";
	}
	 56.5826330532%, 56.9317731092% {
		 content: "Beware of randomwi";
	}
	 56.9327731092%, 57.2819131653% {
		 content: "Beware of randomwit";
	}
	 57.2829131653%, 57.6320532213% {
		 content: "Beware of randomwits";
	}
	 57.6330532213%, 57.9821932773% {
		 content: "Beware of randomwits.";
	}
	 57.9831932773%, 58.3323333333% {
		 content: "Beware of randomwits..";
	}
	 58.3333333333%, 65.9653865546% {
		 content: "Beware of randomwits...";
	}
	 65.9663865546%, 66.2454985994% {
		 content: "Beware of randomwits..";
	}
	 66.2464985994%, 66.5256106443% {
		 content: "Beware of randomwits.";
	}
	 66.5266106443%, 66.8057226891% {
		 content: "Beware of randomwits";
	}
	 66.8067226891%, 67.0858347339% {
		 content: "Beware of randomwit";
	}
	 67.0868347339%, 67.3659467787% {
		 content: "Beware of randomwi";
	}
	 67.3669467787%, 67.6460588235% {
		 content: "Beware of randomw";
	}
	 67.6470588235%, 67.9261708683% {
		 content: "Beware of random";
	}
	 67.9271708683%, 68.2062829132% {
		 content: "Beware of rando";
	}
	 68.2072829132%, 68.486394958% {
		 content: "Beware of rand";
	}
	 68.487394958%, 68.7665070028% {
		 content: "Beware of ran";
	}
	 68.7675070028%, 69.0466190476% {
		 content: "Beware of ra";
	}
	 69.0476190476%, 69.3267310924% {
		 content: "Beware of r";
	}
	 69.3277310924%, 69.6068431373% {
		 content: "Beware of ";
	}
	 69.6078431373%, 69.8869551821% {
		 content: "Beware of";
	}
	 69.8879551821%, 70.1670672269% {
		 content: "Beware o";
	}
	 70.1680672269%, 70.4471792717% {
		 content: "Beware ";
	}
	 70.4481792717%, 70.7272913165% {
		 content: "Beware";
	}
	 70.7282913165%, 71.0074033613% {
		 content: "Bewar";
	}
	 71.0084033613%, 71.2875154062% {
		 content: "Bewa";
	}
	 71.2885154062%, 71.567627451% {
		 content: "Bew";
	}
	 71.568627451%, 71.8477394958% {
		 content: "Be";
	}
	 71.8487394958%, 72.1278515406% {
		 content: "B";
	}
	 72.1288515406%, 75.6292521008% {
		 content: "​";
	}
	 75.6302521008%, 75.9793921569% {
		 content: "s";
	}
	 75.9803921569%, 76.3295322129% {
		 content: "so";
	}
	 76.3305322129%, 76.6796722689% {
		 content: "som";
	}
	 76.6806722689%, 77.0298123249% {
		 content: "some";
	}
	 77.0308123249%, 77.379952381% {
		 content: "somet";
	}
	 77.380952381%, 77.730092437% {
		 content: "someti";
	}
	 77.731092437%, 78.080232493% {
		 content: "sometim";
	}
	 78.081232493%, 78.430372549% {
		 content: "sometime";
	}
	 78.431372549%, 78.780512605% {
		 content: "sometimes";
	}
	 78.781512605%, 79.1306526611% {
		 content: "sometimes ";
	}
	 79.1316526611%, 79.4807927171% {
		 content: "sometimes t";
	}
	 79.4817927171%, 79.8309327731% {
		 content: "sometimes th";
	}
	 79.8319327731%, 80.1810728291% {
		 content: "sometimes the";
	}
	 80.1820728291%, 80.5312128852% {
		 content: "sometimes they";
	}
	 80.5322128852%, 80.8813529412% {
		 content: "sometimes they ";
	}
	 80.8823529412%, 81.2314929972% {
		 content: "sometimes they b";
	}
	 81.2324929972%, 81.5816330532% {
		 content: "sometimes they bi";
	}
	 81.5826330532%, 81.9317731092% {
		 content: "sometimes they bit";
	}
	 81.9327731092%, 82.2819131653% {
		 content: "sometimes they bite";
	}
	 82.2829131653%, 82.6320532213% {
		 content: "sometimes they bite ";
	}
	 82.6330532213%, 82.9821932773% {
		 content: "sometimes they bite :";
	}
	 82.9831932773%, 90.6152464986% {
		 content: "sometimes they bite :)";
	}
	 90.6162464986%, 90.8953585434% {
		 content: "sometimes they bite :";
	}
	 90.8963585434%, 91.1754705882% {
		 content: "sometimes they bite ";
	}
	 91.1764705882%, 91.4555826331% {
		 content: "sometimes they bite";
	}
	 91.4565826331%, 91.7356946779% {
		 content: "sometimes they bit";
	}
	 91.7366946779%, 92.0158067227% {
		 content: "sometimes they bi";
	}
	 92.0168067227%, 92.2959187675% {
		 content: "sometimes they b";
	}
	 92.2969187675%, 92.5760308123% {
		 content: "sometimes they ";
	}
	 92.5770308123%, 92.8561428571% {
		 content: "sometimes they";
	}
	 92.8571428571%, 93.136254902% {
		 content: "sometimes the";
	}
	 93.137254902%, 93.4163669468% {
		 content: "sometimes th";
	}
	 93.4173669468%, 93.6964789916% {
		 content: "sometimes t";
	}
	 93.6974789916%, 93.9765910364% {
		 content: "sometimes ";
	}
	 93.9775910364%, 94.2567030812% {
		 content: "sometimes";
	}
	 94.2577030812%, 94.5368151261% {
		 content: "sometime";
	}
	 94.5378151261%, 94.8169271709% {
		 content: "sometim";
	}
	 94.8179271709%, 95.0970392157% {
		 content: "someti";
	}
	 95.0980392157%, 95.3771512605% {
		 content: "somet";
	}
	 95.3781512605%, 95.6572633053% {
		 content: "some";
	}
	 95.6582633053%, 95.9373753501% {
		 content: "som";
	}
	 95.9383753501%, 96.217487395% {
		 content: "so";
	}
	 96.218487395%, 96.4975994398% {
		 content: "s";
	}
	 96.4985994398% {
		 content: "";
	}
	100% {
		content: "Life is too short for a diary"
	}
}
 @keyframes beam-blink {
	 75% {
		 border-color: transparent;
	}
}
 * {
	 backface-visibility: hidden;
}
 textAnimation {
	 display: inline;
	 align-items: center;
	 justify-content: center;
	 background-repeat: repeat-y;
	 background-position: center center;
	 background-size: cover, 100% 3px;
	 font-size: calc(10px + 2vw);
	 font-family: 'VT323', monospace, sans-serif;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
     color: #444;
}
#textAnimation::after {
	 content: "​";
	 position: relative;
	 display: inline-block;
	 border-right: 4px solid #39c;
	 white-space: nowrap;
     -webkit-animation-name: typed;
	 animation-name: typed;
	 -webkit-animation-duration: 26.94s;
	 animation-duration: 26.94s;
	 -webkit-animation-iteration-count: forwards;
	 animation-iteration-count: forwards;
	 -webkit-animation-timing-function: linear;
	 animation-timing-function: linear;
	 -webkit-animation-fill-mode: forwards;
	 animation-fill-mode: forwards;
	 -webkit-animation: typed 26.94s linear 1s forwards, beam-blink 1s forwards; ;
	 animation: typed 26.94s linear 1s forwards, beam-blink 1s forwards;
}
 @media (max-width: 575px) {
	 #textAnimation::after {
	}
}
#textAnimation::before {
	 display: inline;
	 bottom: 0;
	 width: 100%;
	 font-size: 16px;
}

