<div class="tab-container">
  <ul>
    {% for item in template.files %}
      <li class="tab {{ item.language }}"><a href="#{{ item.language }}">{{ item.language }}</a></li>
    {% endfor %}
  </ul>

  {% for item in template.files %}
    <div class=" code-block codeSample {{ item.language }}" id="{{ item.language }}">
      <script src="https://gist.github.com/tushar-sharma/{{ template.id }}.js?file={{ item.file }}"></script>
      <button class="copy-button">Copy</button>
    </div>
  {% endfor %}

</div>
