<!-- <p><small>Tushar Sharma &copy; {{ site.time | date: '%Y' }}</small></p> -->
<link rel="stylesheet" href="/../css/footer.css" />

<div class="footer">
<hr>
<p> 
  <small> &copy; Tushar Sharma </small>
  <small>[</small>
  <a href="mailto:tushar@randomwits.com">
    <i class="icon-envelope-alt"></i> &nbsp;
  </a>
  <a href="https://github.com/tushar-sharma" target="_blank">
    <i class="icon-github"></i>  &nbsp;

  </a>
  <a href="http://in.linkedin.com/in/tsharma3" target="_blank">
    <i class="icon-linkedin"></i> &nbsp;

  </a>
  <a href="https://twitter.com/tshrocks" target="_blank">
    <i class="icon-twitter"></i> &nbsp;


  </a>
  <a href="https://www.facebook.com/tushar.sharma1729" target="_blank">
    <i class="icon-facebook"></i> &nbsp;

  </a>
  <a href="https://plus.google.com/u/0/110524088447553948769" target="_blank">
    <i class="icon-google-plus"></i>
  </a>
  <small>]</small>
</p>
</div>
