<!-- <p><small>Tushar Sharma &copy; {{ site.time | date: '%Y' }}</small></p> -->
<link rel="stylesheet" href="{{ root_url }}/css/footer.css" />
<link rel="stylesheet" href="{{ root_url }}/css/font-awesome.css" />

<div class="footer">
<hr>
  <span style="float:left;width:50%;">
    <h3><small>What’s this blog all about?</small></h3>

       {% assign tags_list = site.tags %}
       {% if tags_list.first[0] == null %}
         {% for tag in tags_list %}
            <a class="mytag" href="/tag/{{ tag }}">{{ tag }} <span><sup>{{ site.tags[tag].size }}</sup></span></a>
         {% endfor %}
       {% else %}
         {% for tag in tags_list %}
	   {% if tag[0] != 'sidebar' %} <!-- hack to remove sidebar tags -->
           <a style="font-size: {{ tag | last | size | times: 100 | divided_by: site.categories.size | plus: 70 }}%"  style="display:inline-block;" href="/tag/{{ tag[0] }}">{{ tag[0] }} <span></span></a>
	   {% endif %}
         {% endfor %}
       {% endif %}
       {% assign tags_list = nil %}

<!--
   {% for category in site.categories %}
       <span style="font-size: {{ category | size | times: 60 | divided_by: site.categories.size | plus: 40 }}%">
        <a href="/tag/{{ tag }}"> {{ category[0] }} </a>
      </span>
   {% endfor %}
-->
 
  </span>
  <!--
  {% for category in site.categories %} 
    <div> <a href="/{{ category | first | slugize }}/"> {{ category | first }} </a> </div> <br>
  {% endfor %}`
  -->
  <span style="float:left; width:48%;margin-left:2%; ">
 <h3>
  <small>Copyright &copy; Tushar Sharma </small>
</h3>
<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Randomwits</span> is licensed under under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br><br>
    <div>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> &nbsp; &nbsp; <a title="Real Time Web Analytics" href="http://clicky.com/100650351"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
         <script src="//static.getclicky.com/js" type="text/javascript"></script>
         <script type="text/javascript">try{ clicky.init(100650351); }catch(e){}</script>
         <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100650351ns.gif" /></p></noscript>
    </div>
  </span>
</div>
<div style="clear:both;">
  <hr>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43895904-1', 'randomwits.com');
  ga('send', 'pageview');

</script>
