<link rel="stylesheet" href="{{ root_url }}/css/books.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
  .sketch-cirlce{
    position:relative;
  }
  
  .sketch-cirlce:before{
    content:"";
    color: white;
    z-index:-1;
    left:-0.5em;
    top:-0.1em;
    border-width:2px;
    border-style:solid;
    border-color:#39c;
    position:absolute;
    border-right-color:transparent;
    width:100%;
    height:1em;
    transform:rotate(2deg);
    opacity:0.7;
    border-radius:50%;
    padding:0.1em 0.25em;
  }
  
  .sketch-cirlce:after{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    padding:0.1em 0.25em;
    border-width:2px;
    border-style:solid;
    border-color:#39c;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:1em;
    transform:rotate(-1deg);
    opacity:0.7;
    border-radius:50%;
  }
</style>

<script type="text/javascript">

  var baseUrl = "{{ page.google_sheet_url | default: '' }}";
  var startRow = "{{ page.startRow | default: '' | strip }}";
  var endRow = "{{ page.endRow | default: '' | strip }}"; 
  var apiKey = "{{ page.google_sheet_key | default: '' | strip }}";
  
  if (startRow && endRow) {
    baseUrl = "{{ page.google_sheet_base_url | default: '' }}";
    if (baseUrl) {
      baseUrl += `${startRow}:${endRow}?alt=json`;
      if (apiKey) {
        baseUrl += `&key=${apiKey}`;
      }
    }
  }

  var req = new XMLHttpRequest();
  req.responseType = 'json';

  req.open('GET', baseUrl, true);

  req.onload  = function() {
    var data = req.response["values"];

    let i;

    let getDate = [];

    for (i = 1; i < data.length; i++) {

      let activity = data[i][0];
      let streak  = data[i][1];
      let logging = data[i][6];
      let count = data[i][19];
      let todayDate = (data[i][7] === "yes") ? "<i style=\"font-size:24px\" class=\"icon-check cl\"></i>": "<i style=\"font-size:24px\" class=\"icon-check-empty cl\"></i>";
      let yesterdayDate = (data[i][8] === "yes") ?  "<i style=\"font-size:24px\" class=\"icon-check cl\"></i>": "<i style=\"font-size:24px\" class=\"icon-check-empty cl\"></i>";
      let yesterdayMinusOneDate = (data[i][9] === "yes") ?  "<i style=\"font-size:24px\" class=\"icon-check cl\"></i>": "<i style=\"font-size:24px\" class=\"icon-check-empty cl\"></i>";
      let yesterdayMinusTwoDate = (data[i][10] === "yes") ?  "<i style=\"font-size:24px\" class=\"icon-check cl\"></i>": "<i style=\"font-size:24px\" class=\"icon-check-empty cl\"></i>";
      let yesterdayMinusThreeDate = (data[i][11] === "yes") ?  "<i style=\"font-size:24px\" class=\"icon-check cl\"></i>": "<i style=\"font-size:24px\" class=\"icon-check-empty cl\"></i>";
      let yesterdayMinusFourDate = (data[i][12] === "yes") ?  "<i style=\"font-size:24px\" class=\"icon-check cl\"></i>": "<i style=\"font-size:24px\" class=\"icon-check-empty cl\"></i>";
      let yesterdayMinusFiveDate = (data[i][13] === "yes") ?  "<i style=\"font-size:24px\" class=\"icon-check cl\"></i>": "<i style=\"font-size:24px\" class=\"icon-check-empty cl\"></i>";

      if(data[i][18]) {
          getDate.push(data[i][18]);
      }

      if (parseInt(streak) > 0) {
        activity = "<span class=\"sketch-cirlce\" >" + activity + "</span>";
      }

      document.getElementById("demo").innerHTML +=
        "<tr>" +
        "<td style=\"white-space:nowrap;\" >" + 
        activity +
        "</td>" +
        "<td>" +
        todayDate +
        "</td>" +
        "<td>" +
        yesterdayDate +
        "</td>" +
        "<td>" +
        yesterdayMinusOneDate +
        "</td>" +
        "<td>" +
          yesterdayMinusTwoDate +
        "</td>" +
        "<td>" +
          yesterdayMinusThreeDate +
        "</td>" +
        "<td>" +
          yesterdayMinusFourDate +
        "</td>" +
        "<td>" +
          yesterdayMinusFiveDate +
        "</td>" +
        "<td>" +
        streak +
        "</td>" +
        "<td>" +
        count +
        "</td>" +
        "<td>" +
        logging +
        "</td>" +

        "</tr>";
    }

    document.getElementById("today").innerHTML = getDate[0];
    document.getElementById("yesterday").innerHTML = getDate[1];
    document.getElementById("yesterdayOneMinus").innerHTML = getDate[2];
    document.getElementById("yesterdayTwoMinus").innerHTML = getDate[3];
    document.getElementById("yesterdayThreeMinus").innerHTML = getDate[4];
    document.getElementById("yesterdayFourMinus").innerHTML = getDate[5];
    document.getElementById("yesterdayFiveMinus").innerHTML = getDate[6];
};
req.send(null);
</script>



<!-- dummy box begins -->
<div style="padding-bottom:10px; padding-top:20px; background : white;">
</div>

<div class="container my-5">

  <div class="row">

    <div class="col-md-7 mb-4 mb-md-0">

      <!-- Table -->
      <table class="table table-striped" style="font-size: 16px;">
        <thead>
          <tr>
            <th>Activity</th>
           <th><span  id="today"></span></th>
            <th><span  id="yesterday"></span></th>
            <th><span id="yesterdayOneMinus"></span></th>
            <th><span id="yesterdayTwoMinus"></span></th>
            <th><span id="yesterdayThreeMinus"></span></th>
            <th><span id="yesterdayFourMinus"></span></th>
            <th><span id="yesterdayFiveMinus"></span></th>
            <th>Streak</th>
            <th>Count</th>
            <th>Logging</th>
          </tr>
        </thead>
        <tbody id="demo"></tbody>
      </table>

    </div>

  </div>

</div>
