<meta charset="UTF-8">
<!--[if IE]<meta http-equiv="X-UA-Compatible" content="chrome=1"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="author" content="Tushar Sharma">
<meta name="description" content="Random Wits, my digital footprint.">
<meta name="keywords" content="Tushar, Sharma, Web, Development, Personal Website, Random Wits, Randomwits">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta property="og:site_name" content="Tushar Sharma" />
<title>{{ page.title }}</title>
<link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
<link rel="icon" type="image/png" href="/img/favicon.png">
<link rel="stylesheet" href="{{ root_url }}/css/pygment_trac_solarized_dark.css">
<link rel="stylesheet" href="{{ root_url }}/css/font-awesome.css">
<link rel="stylesheet" href="{{ root_url }}/css/styles.css">
<script async src="{{ root_url }}/js/scale.fix.js"></script>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Twitter cards -->
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ page.author }}">
<meta name="twitter:title" content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ page.image }}">
<meta property="og:image" content="{{ page.image }}">
{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ site.title_image }}">
<meta property="og:image" content="{{ site.title_image }}">
{% endif %}
<!-- end of Twitter cards -->

<!-- this is to allow mutiple tabs for code selection-->
{% if page.mutipleTab %}
<link rel="stylesheet" href="{{ root_url }}/css/multipleTab.css" />
<script src="{{ root_url }}/js/jquery.easytabs.min.js"></script>
<script src="{{ root_url }}/js/multipleTab.js"></script>
{% endif %}

{% if page.quiz %}
<script src="{{ root_url}}/js/quiz.js"></script>
{% endif %}

<script src="{{ root_url }}/js/clipboard.js"></script>
<script src="{{ root_url }}/js/clipboard.min.js"></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1176796546288516"
     crossorigin="anonymous"></script>
