<meta charset="UTF-8">
<!--[if IE]<meta http-equiv="X-UA-Compatible" content="chrome=1"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="author" content="Tushar Sharma">
<meta name="description" content="Random Wits, my digital footprint.">
<meta name="keywords" content="Tushar, Sharma, Web, Development, Personal Website, Random Wits, Randomwits">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta property="og:site_name" content="Tushar Sharma"/>
<title>{{ page.title }}</title>
<link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
<link rel="icon" type="image/png" href="/img/favicon.png">
<link rel="stylesheet" href="{% if page.root %} /css/pygment_trac.css {% else %} ../css/pygment_trac.css {% endif %}">
<link rel="stylesheet" href="{% if page.root %} /css/font-awesome.css {% else %} ../css/font-awesome.css {% endif %}">
<link rel="stylesheet" href="{% if page.root %} /css/styles.css {% else %} ../css/styles.css {% endif %}">
<script async src="{% if page.root %} /js/scale.fix.js {% else %} ../js/scale.fix.js {% endif %}"></script>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ page.author }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ page.image }}">
<meta property="og:image" content="{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.title_image }}">
<meta property="og:image" content="{{ site.title_image }}">
{% endif %}
<!-- end of Twitter cards -->