<style>
.cl{ width: 200px;  color: rgb(51, 153, 204);}
</style>

<script src="/../js/jquery-1.7.1.min.js"></script>
<script src="/../js/jquery.mousewheel-min.js"></script>
<script src="/../js/jquery.terminal-min.js"></script>
<link href="/../css/jquery.terminal.css" rel="stylesheet"/>

<script>
jQuery(document).ready(function($) {

var greettxt = "" +
" __      __           .__                                       \n" +
"/  \\    /  \\   ____   |  |     ____     ____     _____     ____  \n" +
"\\   \\/\\/   / _/ __ \\  |  |   _/ ___\\   /  _ \\   /     \\  _/ __ \\  \n" +
" \\        /  \\  ___/  |  |__ \\  \\___  (  <_> ) |  Y Y  \\ \\  ___/  \n" +
"  \\__/\\  /    \\___  > |____/  \\___  >  \\____/  |__|_|  /  \\___  > \n" +
"       \\/         \\/              \\/                 \\/       \\/ ";

          
    var id = 1;
    $('#foo').terminal(function(command, term) {
        if (command == 'help') { 
             mystr = "<span class=\"cl\">clear</span> Clear screen.<br><span class=\"cl\">about</span> About me.<br><span class=\"cl\">resume</span> mini resume, links to html and pdf versions.<br><span class=\"cl\">blog</span> Open my blog.<br><span class=\"cl\">projects</span> Open my projects.<br><span class=\"cl\">books</span> List my favourite books.<br><span class=\"cl\">contact</span> Send me a direct message.<br><span class=\"cl\">man</span> My man page.<br><span class=\"cl\">quote</span> Display a random quote.<br><span class=\"cl\">hack</span> Katamari hack<br><span class=\"cl\">randomwits</span> :)";
          
            term.echo(mystr, {
              raw: function(div) {

            }
         });
        } else if (command == "about") {
            window.open(
              '/about', '_blank'
            );
        } else if (command == "contact") {
           window.open(
             '/contact', '_blank'
           ); 
        } else if (command == "projects") { 
            window.open('/projects', '_blank');
        } else if (command == "blog") {
          window.open('/blog', '_blank'); 

        } else if (command == "books") {
          window.open('/books', '_blank');

        } else if(command == "hack") {

             javascript:var i,s,ss=['http://kathack.com/js/kh.js','http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'];for(i=0;i!=ss.length;i++){s=document.createElement('script');s.src=ss[i];document.body.appendChild(s);}void(0);
 
        } else if (command == "man") { 
            window.open(
              'man.html', '_blank'
            );
        } else if (command == "resume") {
         
           term.echo("<span class=\"cl\">University of Florida</span> Senior Certificate, Spring 2013<br><span class=\"cl\">JUIT</span> B.Tech in ECE from 2009 to 2013.<br><span class=\"cl\">Experience with</span> C, C++, Java, HTML, CSS, PHP, JS, Python<br><a style=\"text-decoration: none; background: #00ee11; color:#000; \" href=\"/resume\" target=\"_blank\">html</a>&nbsp; &nbsp; &nbsp;<a style=\"text-decoration: none; background: #00ee11; color:#000; \" href=\"https://dl.dropboxusercontent.com/u/85584172/resume.pdf\" target=\"_blank\">pdf</a>", {
              raw: function(div) {
            }
         });
        } else if (command == "quote") {
            jQuery.get('/../quotes.txt', function(data) { 
              var quotes = data.split("\n");
              var idx = Math.floor((quotes.length - 1) * Math.random());
              term.echo("<span style=\"color: rgb(51, 153, 204); \"> " + quotes[idx] + "</span>", { 
                  raw: function(div) { }
               });
            });
        } else if (command == 'randomwits') { 
var art = " _____________ \n" +
"< Random Wits > \n" + 
" ------------- \n" +  
"   \ \n" + 
"    \ \n" + 
"        .--. \n" + 
"       |o_o | \n" + 
"       |:_/ | \n" + 
"      //   \\ \\ \n" + 
"     (|     | ) \n" + 
"    /'\\_   _/`\\ \n" + 
"    \\___)=(___/ ";



      
           term.echo(art, {
             finalize: function(div) {
               div.css("color", "rgb(51, 153, 204)");
             }
          });
        } else {
            term.echo("unknown command " + command);
        }
    }, {

        greetings: (greettxt + "\n\nType 'help' for list of commands") ,
 
        onBlur: function() {
            // prevent loosing focus
            return false;
        }
    });
});

</script>

<h2>Hello stranger.</h2>
<div id="foo">
</div>

