{% assign blogposts = site.categories.blog | where: 'featuredPost', true   %}
    
<div style="clear:both;float:left;" class="navbar-nav">
    <nav class="main-nav" >
        <ul class="unstyled list-hover-slide">
        {% for post in blogposts %}
        {% if post != blogposts.last %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% else %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %} 
        </ul>
    </nav>
</div>