<link rel="stylesheet" href="{{ root_url }}/css/styles.css" >
<link rel="stylesheet" href="{{ root_url }}/css/toc.css" >
<script defer src="{{ root_url }}/js/toc.js" type="text/javascript"></script>
<script async src="https://kit.fontawesome.com/7aae5464ce.js" crossorigin="anonymous"></script>
<script async src="{{ root_url }}/js/darkreader.js" crossorigin="anonymous"></script>
<script async src="{{ root_url }}/js/dark_wrapper.js" crossorigin="anonymous"></script>

<style type="text/css">
@font-face {font-family: 'Somefont';
	src:url('{{ root_url }}/font/OneDirection.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "King Basil";
  src: url("{{ root_url }}/font/King-Basil.ttf");
  font-display: swap;
}

.king-basil {
  font-family: "King Basil";
}


h1.heading { font-family: Myfont;
  color: rgb(51, 153, 204);}
.top{color: rgb(68, 68, 68);}
.sub{font-family:Somefont;}

/* for the toc */
header ul  {
  height: auto !important;
  border: none !important;
  width: auto !important;
  border-radius: 0px solid !important;
  border-right: 0px solid !important;
  font-size: 1rem !important;
  letter-spacing: 2px !important;
}
header ul a {
  padding-top: none !important;
  color: #39c !important;
  border-right: 0px solid !important;
  display: inline !important;
  padding: 0.5rem 1rem !important;
  border-bottom: 1px solid #39c !important;
}

/** toc */
header li {
  height : auto !important;
  float: none !important;
  line-height: 140% !important;
  margin: 10px 0 !important;
  border-right: 0px solid !important;

}


</style>

<div id="random" class="top king-basil" id="product" style="font-size: 32px; color: rgb(81, 170, 232); margin-bottom: 10px;">
 <a href="/">
  {{ site.title }}
 </a>
 <a style="cursor:pointer;" class="DarkReader_Button" >
  <i id="icon-dark" class="fa fa-cloud-moon"></i>
  </a>
</div>

<div style="clear:both;"></div>
<div>
  <p class="me_blurb">
  <div class="sub">
    <!-- <span id="textAnimation"></span>-->
    {{ site.tagline }}
    </div>
  </p>

</div>

<!--<a href="/"><h1 class="heading">Random<span class="top">Wits</span></h1></a> -->
<!--<p class="me_blurb"><div >beware of random wits...<br>sometimes they bite</div></p> -->


<!--<span class="quora-follow-button" data-name="Tushar-Sharma-3">Follow <a href="http://www.quora.com/Tushar-Sharma-3">Tushar Sharma</a> on <a href="http://www.quora.com">Quora</a><script type="text/javascript" src="http://www.quora.com/widgets/follow?embed_code=Wo7vDKF"></script></span>
<br>
-->

<!-- <h2>Projects</h2>
<div class="highlight" >
  <pre style="overflow: hidden; overflow-y: hidden;">{% include sidebar_projects.html %}</pre>
</div>
-->
<div class="highlight">
  {% include_cached sidebar_links.html %}
</div>

<!-- only if page is root page -->
{% if paginator.page == 1 or  paginator.previous_page %}
<h1>Most popular</h1>
<div class="highlight">
  {% include_cached sidebar_wits.html %}
</div>
{% else %}
<div id="toc-block" class="codeblock" style="display:none;">
  <h3 style="color:#39c;"><i class="far fa-bookmark"></i> On This Page</h3>
  <div id="toc"></div>
</div><br>

{% endif %}

<!-- toc page -->

<br><br>

<script type="text/javascript">
  $(document).ready(function() {
      $('#toc').toc();
  });
</script>

<!-- Upvote next : disabled -->
<!--{% if paginator.page == 1 or  paginator.previous_page %} 
<h1>Upvote next</h1>
<script type="text/javascript" charset="utf-8" id="hpoll_ALkxm0" src="https://static.handypolls.com/e/v2/ALkxm0/poll.js"></script><noscript><a href="https://handypolls.com/p/ALkxm0">vote the next</a></noscript>
{% endif %} 
-->

<!-- begin - this is to include Adds in the site --> 
<!-- {% include adds.html %} -->
<!-- end - this is to include Adds in the site --> 