
    <!--<pre><code><span class="nv">$</span> random stuff</code><br>     ├── <span class="nv"><div class="quotebox"><br><i class="newcl icon-quote-left"></i>&nbsp;<span  class="newcl" id="myquotes"></span>&nbsp;<i class="newcl icon-quote-right"></i><br><span class="newcl" id="author"></span>.&nbsp;<br><br></div></span><br/>     └── <span class="nv"><a href="{{ root_url }}/books">my bookshelf</a></span><br>     └── <span class="nv"><a href="{{ root_url }}/about">about me</a></span>
    -->
    <div style="clear:both;float:left;padding-bottom:15px;" class="navbar-nav">
        <div class="nav-wrap">
          <nav class="main-nav" >
            <ul class="unstyled list-hover-slide">

              <li><a href="{{ root_url }}/tags"><i class="fa fa-tag"></i> Tags</a></li>
              <li><a href="{{ root_url }}/bookshelf"><i class="fas fa-book-open"></i> Bookshelf</a></li>
              <li><a href="{{ root_url }}/quotes"><i class="fas fa-comment-dots"></i> Quotes</a></li>
              <li><a href="{{ root_url }}/travel"><i class="fas fa-map-marked-alt"></i> Travel</a></li>
              <li><a href="{{ root_url }}/resources"><i class="fas fa-laptop-code"></i> Resources</a></li>
              <li><a href="{{ root_url }}/tools"><i class="fas fa-hammer"></i> Tools</a></li>
              <li><a href="{{ root_url }}/contact"><i class="fas fa-file-signature"></i> Contact</a></li>
              <li><a href="{{ root_url }}/about"><i class="fas fa-fingerprint"></i> About</a></li>
            </ul>
          </nav>
        </div>
    </div>

