---
layout: default
title: Blog
categories: blog
---

<link rel="stylesheet" href="{{ root_url }}/css/styles.css" />
<link rel="stylesheet" href="{{ root_url }}/css/font-awesome.css" />

<style type="text/css">
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
</style>

<!-- search box --!>
<div id="blog" style="padding-top:30px; margin-top:-23px;">
<div style="padding-bottom:60px; padding-top:20px;">
  <form style="float:right;" action="{{ root_url }}/search/?">
    <input type="search" name="q" placeholder="Search">
  </form>
</div>
{% assign blogposts = site.categories.blog %}
<div class="pure-u-1-2">
<div style="padding-right:10px; padding-left:10px;">
{% for post in blogposts %}
  <small style="float:right; margin-top:5px;">{{ post.date | date:'%a %d %b %Y' }}</small>
  <a href="{{ post.url }}">
    <h2>{{ post.title }}</h2>
  </a>
      <div>
            {% assign truncated_post = post.content | split:"<!-- truncate_here -->" | first %}
            {% if truncated_post != post.content %}
            {{ truncated_post | append:".."}}
      </div>
  <p>
    <a href="{{ post.url }}">
      <span>Continue reading &rarr;</span>
    </a>
     <span style="float:right;"><i class="icon-tags"></i> Tags :
      {% for tag in post.tags %}
          <a class="mytag" href="/tag/{{ tag }}"> {{ tag }} </a>
      {% endfor %}
     </span>
  </p>
  {% else %}
      {% endif %}
  {% if post != blogposts.last %}
    <hr />
    {% endif %}
{% endfor %}
</div>
<script type="text/javascript">
  window.onload = function() { scroll_to('blog'); };
  </script>

