<!DOCTYPE html>
<html>
  <head>
      <link rel="alternate" type="application/rss+xml" title="Randomwits RSS" href="/feed.xml">
    {% include head.html %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  {% seo %}
  </head>
  <body>
    <noscript>
    <h4 style="background: #ffacd; margin: 0; padding: 15px; text-align: center;">
    For a better experience on RandomWits, enable JavaScript in your browser.
    </h4>
    </noscript>

    <div class="wrapper">
      <header>
        {% include sidebar.html %}
      </header>
      <section>
        {{ content }}
        <hr>
        {% include comments.html %}
      </section>
   </div>
   <div style="clear:both;"></div>

    <div class="wrapper">
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
