<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8"/>

  <link rel="alternate" type="application/rss+xml" title="Bakery Store RSS" href="/feed.xml">
    {% include head.html %}
  </head>
  <body>
    <noscript>
    <h4 style="background: #ffacd; margin: 0; padding: 15px; text-align: center;">
    For a better experience on RandomWits, enable JavaScript in your browser.
    </h4>
    </noscript>

    <div class="wrapper">
      <header>
        {% include sidebar.html %}
      </header>
      <section>
        {{ content }}
      </section>
   </div>
   <div style="clear:both;"></div>

    <div class="wrapper">
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
