<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <noscript>
    <h4 style="background: #ffacd; margin: 0; padding: 15px; text-align: center;">
    For a better experience on RandomWits, enable JavaScript in your browser.
    </h4>
    </noscript>

    <div class="wrapper">
      <header>
        {% include sidebar.html %}
      </header>
      <section>
        {{ content }}
      </section>
   </div>
   <div style="clear:both;"></div>

   <!--[if IE]>
     <h4 style="background: #ffacd; margin: 0; padding: 15px; text-align: center;">
     Hey Cro-Magnan. This site looks better without Internet Explorer. Please use a better <a href="http://www.mozilla.org/" target="_blank">browser</a>.
    </h4>
   <![endif]-->
    
    <div class="wrapper">
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
