---
layout: default
root: true
---
<link rel="stylesheet" href="{{ root_url }}/css/search.css" />
<link rel="stylesheet" href="{{ root_url }}/css/toc.css" />
<script src="{{ root_url }}/js/copyClipboard.js" type="text/javascript"></script>


<!-- search box begins -->
<div style="padding-bottom:60px; padding-top:20px; background : white;">
  <form style="float:right;" action="{{ root_url }}/search/?">
    <input type="search" name="q" placeholder="Search">
  </form>
</div>
<!-- search box ends -->
<br>

<small style="float:right; margin-top:5px;"><strong></strong></small>
<h1>{{ page.title }}</h1>

{% assign truncated_post = content | split:"<!-- truncate_here -->" %}
{% if truncated_post != content %}
  <p>Tags: {% for tag in page.tags %} <a class="mytag" href="/tag/{{ tag }}" title="View posts tagged with: {{ tag }}">{{ tag }}</a>  {% if forloop.last != true %} {% endif %} {% endfor %} </p>
  

  {% if page.author %}
  {% assign author_tag = page.author | downcase %}
  <div class="author-info">
    <div class="author-image">
      {% if page.tags contains author_tag %}
        <a href="/tag/{{ author_tag | replace: ' ', '%20' }}">
          <img src="{{ root_url }}/img/{{ author_tag | replace: ' ', '_' | append: '.jpg' }}" alt="Author">
        </a>
      {% else %}
        <img src="{{ root_url }}/img/{{ author_tag | replace: ' ', '_' | append: '.jpg' }}" alt="Author">
      {% endif %}
    </div>
    <span class="author-name">Written by: 
      {% assign author_parts = page.author | split: ' ' %}
      {% for part in author_parts %}
        {{ part | capitalize }}{% unless forloop.last %} {% endunless %}
      {% endfor %}
    </span>
  </div>
  {% endif %}

  {% if page.thumb %}
    <div class="post-featured-image" style="text-align:center; margin-bottom:20px;">
      <img 
      src="{% if page.image contains '?w=' %}{{ page.image | replace: '?w=437', '?w=800' }}{% else %}{{ page.image | append: '?w=800' }}{% endif %}" 
      alt="Featured image for {{ page.title }}" 
      style="max-width:100%; height:auto;" 
    />
     </div>
  {% endif %}

  {{ truncated_post.last }}
{% else %}
 {{ truncated_post.last }}
{% endif %}

<!-- this is for pagination -->
<nav class="pagination clear" style="padding-bottom:20px;">
  {% if page.previous.url %} <a class="prev-item" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&larr;Previous</a>   {% endif %}  {% if page.next.url %}<a class="next-item" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">Next&rarr;</a>         {% endif %}
</nav>  

<hr>
{% include comments.html %}
