---
layout: default
root: true
---
<h1 style="color: rgb(51, 153, 204);">{{ page.title }}</h1>

<div id="blog" style="padding-top:30px; margin-top:-23px;">
<div class="pure-u-1-2">
<div style="padding-right:10px; padding-left:10px;">
{% for post in page.posts %}
  <small style="float:right; margin-top:5px;"><strong></strong></small>
  <a href="{{ post.url }}">
    <h2>{{ post.title }}</h2>
  </a>
  <div>
    <div>
      <a href="{{ post.url }}">
        <img src="{{ post.thumb }}" class="thumb" width="800" height="437"/>
      </a>
    </div>
    {% assign truncated_post = post.content | split:"<!-- truncate_here -->" | first %}
    {% if truncated_post != post.content %}
      {{ truncated_post | append:".." }}
    {% endif %}
  </div>
  <br>
  <p>
    <a href="{{ post.url }}">
      <span>Continue reading &rarr;</span>
    </a>
    <span style="float:right;">
      {% for tag in post.tags %}
        <a class="mytag" href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </span>
  </p>
  <br>
  {% if post != page.posts.last %}
    <hr />
  {% endif %}
{% endfor %}
</div>

<!-- Pagination Controls -->
<div class="pagination" style="margin-top:30px;">
  {% if page.paginator.previous_page %}
    <a href="{% if page.paginator.previous_page == 1 %}/tag/{{ page.tag }}/{% else %}/tag/{{ page.tag }}/page{{ page.paginator.previous_page }}/{% endif %}">&laquo; Previous</a>
  {% endif %}

  <span>Page {{ page.paginator.page }} of {{ page.paginator.total_pages }}</span>

  {% if page.paginator.next_page %}
    <a href="/tag/{{ page.tag }}/page{{ page.paginator.next_page }}/">Next &raquo;</a>
  {% endif %}
</div>
</div>
<script type="text/javascript">
  window.onload = function() { scroll_to('blog'); };
</script>
